body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-family: IM Fell English SC
;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lead {
  margin: 40px;
}

.navbar {
  background-color: #afadad;
  border-bottom: 2px solid red;
}

.nav-link:hover{
  color: black;
  transform: scale(1.05);
}
.navbar-brand{
  font-size: 30px;
}

.navbar-brand:hover{
  color: red;
}


.nav-link{
  font-size: 20px;
}

.navbar a {
  font-family: "Russo One";
  color: rgb(211, 13, 13);
  text-transform: uppercase;
  font-weight: bold;
}
.btn {
  color: white;
  background-color: black;
  border: 2px solid red;
  transition: 0.3s;
  font-weight: bold;
}

.index-btn{
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.index-h1{
  font-family: "Skranji";
}

.btn:hover {
  color: white;
  background-color: red;
  border: 2px solid red;
}
.list-group-item {
  background-color: #f5f0fa;
}
.list-group-item:hover {
  background-color: #efe2fa;
}

form {
  background-color: #0c0c0c;
  border: 1px solid red;
  padding: 20px;
  border-radius: 8px;
}

.form-btn{
  border: transparent;
}

.form-btn:hover{
  background-color: black;
  border: transparent
}

form label {
  color: white;
  font-weight: bold;
}
form input,
form select,
form textarea {
  background-color: #ffffff;
  color: #3b3b3b;
  border: 1px solid #0c0c0c;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
footer {
  margin-top: auto;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}