body {
  background-color: #0f0f0f;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar {
  background-color: #e0dede;
  border-bottom: 2px solid red;
}
.navbar a {
  color: rgb(211, 13, 13);
  text-transform: uppercase;
  font-weight: bold;
}
.card {
  background-color: #efedf1;
  border: 1px solid #e1c6f5;
  transition: 0.3s;
  color: #12021f;
}
.card:hover {
  border-color: #cc81f1;
  transform: scale(1.03);
}
.btn {
  color: white;
  background-color: transparent;
  border: 2px solid red;
  transition: 0.3s;
  font-weight: bold;
}
.btn:hover {
  color: white;
  background-color: red;
  color: #4a355a;
}
.list-group-item {
  background-color: #f5f0fa;
  border: 1px solid #e1c6f5;
  color: #4a355a;
}
.list-group-item:hover {
  background-color: #efe2fa;
  border-color: #f00b0b;
}
form {
  background-color: #f5f0fa;
  border: 1px solid #030303;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(212, 164, 236, 0.3);
}
form label {
  color: #0c0c0c;
  font-weight: bold;
}
form input,
form select,
form textarea {
  background-color: #ffffff;
  color: #3b3b3b;
  border: 1px solid #0c0c0c;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
footer {
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
